__pycache__
.vscode
practice-testing/__pycache__
scr/__pycache__
scr/DiceGame/__pycache__
src/DiceGame/__pycache__/brain.cpython-39.pyc
src/.DS_Store
src/DiceGame/__pycache__/helpers.cpython-39.pyc

.DS_Store
