# THIS WAS COPIED from Mikael Roos Example - NEEDS TO BE UPDATED

#Data Visualization
#matplotlib 

# Code analysis
bandit
flake8
flake8-docstrings
flake8-polyfill
#cohesion
#metrics.pylint
pylint
radon

# Code style
black

# Documentation
pdoc3
sphinx

# Unit test and coverage
coverage
