# THIS WAS COPIED from Mikael Roos Example - NEEDS TO BE UPDATED

# Code analysis
bandit
flake8

#cohesion
#metrics.pylint
pylint
radon

# Code style
black

# Documentation -> Look into the pyDoc
pdoc3

# Unit test and coverage
coverage
